.example-wrapper {
    display: flex;
    height: 100%;
}

.inner-col {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 0;
}

.inner-col.vertical-toolbar {
    display: flex;
    flex: none;
    width: 100px;
    align-items: center;
    justify-content: center;
}

.toolbar {
    white-space: nowrap;
}

.vertical-toolbar > span {
    padding: 10px;
    margin: 10px;
    cursor: default;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-modify: none;
}

button.factory {
    height: 25px;
    border-radius: 5px;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    margin-right: 2px;
}

button i {
    margin-right: 10px;
}

.bin i {
    transform: scale(1);
    transition: transform 500ms;
}

.factory-red {
    background-color: #cc333344;
}
.factory-green {
    background-color: #33cc3344;
}
.factory-blue {
    background-color: #2244cc44;
}

.red-row {
    background-color: #cc333344 !important;
}
.green-row {
    background-color: #33cc3344 !important;
}
.blue-row {
    background-color: #2244cc44 !important;
}
Preview
New Tab
CodeSandbox
Plunker
Dragging Multiple Records Between Grids
It is possible to drag multiple records at once from one grid to another.

In the example below, note the following:

This example allows for rowDragMultiRow, between grids. For more info on multiRowDrag within the grid see the Multi-Row Dragging section in the Row Dragging documentation.

This example allows you to toggle between regular multiRow selection and checkboxSelection. For more info see the Row Selection documentation.

When Remove Source Rows is selected, the rows will be removed from the Athletes grid once they are dropped onto the Selected Athletes grid.

If Only Deselect Source Rows is selected, all selected rows that were copied will be deselected but will not be removed.
Note: If some rows are selected and a row that isn't selected is copied, the selected rows will remain selected.

If None is selected, the rows will be copied from one grid to another and the source grid will stay as is.

index.html
index.tsx
styles.css
Language:

Typescript
Import type:

Packages
.top-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.panel-body {
    display: flex;
    align-items: center;
}

.panel-body label {
    margin: 0 15px 0 0;
}

.panel-body input[type='checkbox'] {
    margin: 0 0.5rem 0 0;
}

.grid-wrapper {
    display: flex;
    flex: 1 1 auto;
    margin-top: 5px;
}

.grid-wrapper .panel {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.grid-wrapper .panel-body {
    flex: 1 1 auto;
    overflow: hidden;
    padding: 0;
    display: flex;
}

.grid-wrapper .panel-body > div {
    width: 100%;
}